body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.main-header {
  margin: 0;
  padding: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;

  color: #333333;

  background-color: #ffffff;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
  /*outline: 1px solid green;*/
}

.btn {
  font: inherit;
  font-weight: 700;
  color: #ffffff;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  border: none;

}

.main-navigation-list {
  margin: 0;

  list-style: none;
}

.main-navigation-current a {
  color: #766357;
}

.main-navigation-list a {
  color: #000000;
}

.main-navigation-list a:hover,
.main-navigation-list a:focus {
  color: #81b3d2;
}

.main-navigation-list a:active {
  color: #b2b2b2;
}

.main-navigation-current {
  color: #766357;
}

.container h1 {
  margin: 0;
  text-align: center;
}

.index-banner {
  text-align: center;
}


.features h2,
.features h3,
.features-text {
  text-align: center;
}

.features h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

}

.features-list {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
  padding: 0;


  list-style: none;
}

.feature-box {
  width: 400px;

  color: #000000;
  background-color: #eeeeee;
  text-align: center;
}

.feature-first {
  display: flex;
  flex-wrap: wrap;
}

.feature-first-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.feature-first-list li{
  margin: 0;
  padding: 0;
  width: 400px;

  /*outline: 1px solid green;*/
}

.feature-second {
  display: flex;
  flex-wrap: wrap;
}


.feature-first .feature-box,
.feature-second .feature-box {
  text-align: center;
  color: #ffffff;

  background-color: #81b3d2;
}

.feature-first  h3,
.feature-second  h3 {
  color: #ffffff;
}

.feature-first-list h3 {
  color: #000000;
}

.feature-first .feature-first-list {
  list-style: none;
  text-align: center;
  color: #333333;

  background-color: #ffffff;
}

.search-hotels {
  text-align: center;
  color: #333333;
  background-color: #ffffff;
}

.search-hotels h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.button-search-hotels {
  font-size: 21px;
  line-height: 26px;

  background-color: #766357;
}

button.button-search-hotels:hover,
button.button-search-hotels:focus {
  background-color: #604e43;
}

button.button-search-hotels:active {
  color: #847870;
  background-color: #503e33;
}


.modal-search-hotels {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}
.search-hotels input {
  font: inherit;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  border: none;
  background-color: #f2f2f2;
}

.search-hotels input:hover,
.search-hotels input:focus {
  border: none;
  background-color: #ebebeb;
}

.search-hotels input:active {
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
}


.button-search {
  font-size: 21px;
  line-height: 26px;

  background-color: #81b3d2;
}

button.button-search:hover,
button.button-search:focus {
  background-color: #669ec0;
}

button.button-search:active {
  color: #87b6d1;
  background-color: #5496bd;
}

.filters {
  color: #ffffff;


  background-color: #81b3d2;
  background-image: url("../img/filter-background1200.jpg");
  background-repeat: no-repeat ;
}

.filter {
  display: flex;
  justify-content: space-between;
}

.filter fieldset:nth-child(3){
  margin-left: auto;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.filter ul {
  list-style: none;
}

.filter-input:disabled {
  color: #6a6a6a;

  opacity: 0.5;
}

.filter button {
  border: 2px solid #ffffff;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0);
}

.filter button:hover {
  color: #000000;

  background-color: rgba(255, 255, 255, 1);
}

.header-result {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sort-up {
  margin-left: auto;
}

.header-result h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.header-result p {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
}

.sort-list {
  display: flex;
  justify-content: space-between;

  list-style: none;
}

.button-sort {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
}

.sort-item-current .button-sort {
  color: #81b3d2;
}

.button-sort:hover,
.button-sort:focus {
  color: #81b3d2;
}

.button-sort:active {
  color: #000000;
}

.sort-up {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
}

.sort-down {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #81b3d2;
}

.sort-up:hover,
.sort-down:hover,
.sort-up:focus,
.sort-down:focus {
  color: #000000;
}

.sort-up:active,
.sort-down:active {
  color: #81b3d2;
}

.hotel-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.hotel-title:hover,
.hotel-title:focus {
  color: #81b3d2;
}

.hotel-title:active {
  color:  rgba(0, 0, 0, 0.3);
}

.button-more {
  font-size: 14px;
  line-height: 21px;

  background-color: #81b3d2;
}

.button-more:hover,
.button-more:focus {
  background-color: #669ec0;
}

.button-more:active {
  color: #87b6d1;
  background-color: #5496bd;
}

.button-book {
  font-size: 14px;
  line-height: 21px;

  background-color: #766357;
}

.button-book:hover,
.button-book:focus {
  background-color: #604e43;
}

.button-book:active {
  color: #847870;
  background-color: #503e33;
}

.hotels-list span {
  color: #81b3d2;
}

.rating-value {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #666666;

  background-color: #f2f2f2;

}

.main-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-footer-tag {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.main-footer-tag p {
  margin: 0;
}

.footer-social ul {
  list-style: none;
}

.footer-social a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  vertical-align: middle;
  text-align: center;
  background-color: #81b3d2;
  border: none;
}

.footer-social a:hover,
.footer-social a:focus {
  background-color: #669ec0;
}

.footer-social a:active {
  color: #87b6d1;
  background-color: #5496bd;
}

.footer-copyright b {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
}

.footer-copyright a {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.footer-copyright a:hover,
.footer-copyright a:focus{
  color: #81b3d2;
}

.footer-copyright a:active {
  color: #bdbbbc;
}

