body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.main-navigation {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  background-color: #ffffff;
}

.btn {
  font: inherit;
  font-weight: 700;
  color: #ffffff;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
  border: none;

}

.main-navigation-list {
  list-style: none;
}

.main-navigation-list a {
  color: #000000;
}

.main-navigation-list a:hover,
.main-navigation-list a:hover,
.main-navigation-list a:focus,
.main-navigation-list a:focus {
  color: #81b3d2;
}


.main-navigation-list a:active,
.main-navigation-list a:active {
  color: #b2b2b2;
}

.main-navigation-current {
  color: #766357;
}

.container {
  color: #333333;

  background-color: #ffffff;
}

.container h1{
  text-align: center;
}

.index-banner {
  text-align: center;
}


.features  h2,
.features  h3,
.features-text {
  text-align: center;
}

.features h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

}

.features-list {
  list-style: none;
}

.feature-box {
  color: #000000;
  background-color: #eeeeee;
  text-align: center;
}

.feature-first .feature-box,
.feature-second .feature-box {
  text-align: center;
  color: #ffffff;

  background-color: #81b3d2;
}

.feature-first  h3,
.feature-second  h3 {
  color: #ffffff;
}

.feature-first-list h3 {
  color: #000000;
}

.feature-first .feature-first-list {
  list-style: none;
  text-align: center;
  color: #333333;

  background-color: #ffffff;
}

.search-hotels {
  text-align: center;
  color: #333333;
  background-color: #ffffff;
}

.search-hotels h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.button-search-hotels {
  font-size: 21px;
  line-height: 26px;

  background-color: #766357;
}

button.button-search-hotels:hover,
button.button-search-hotels:focus {
  background-color: #604e43;
}

button.button-search-hotels:active {
  color: #847870;
  background-color: #503e33;
}


.modal-search-hotels {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}
.search-hotels input {
  font: inherit;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;

  border: none;
  background-color: #f2f2f2;
}

.search-hotels input:hover,
.search-hotels input:focus {
  border: none;
  background-color: #ebebeb;
}

.search-hotels input:active {
  border: 2px solid #e5e5e5;
  background-color: #ffffff;
}


.button-search {
  font-size: 21px;
  line-height: 26px;

  background-color: #81b3d2;
}

button.button-search:hover,
button.button-search:focus {
  background-color: #669ec0;
}

button.button-search:active {
  color: #87b6d1;
  background-color: #5496bd;
}

.main-navigation-current a {
  color: #766357;
}

.filters {
  color: #ffffff;


  background-color: #81b3d2;
  background-image: url("../img/filter-background1200.jpg");
  background-repeat: no-repeat ;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.filter ul {
  list-style: none;
}

.filter-input:disabled {
  color: #6a6a6a;

  opacity: 0.5;
}

.filter button {
  border: 2px solid #ffffff;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;

  background-color: rgba(255, 255, 255, 0);
}

.filter button:hover {
  color: #000000;

  background-color: rgba(255, 255, 255, 1);
}

.header-result h3 {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

.header-result p {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
}

ul.sort-list {
  list-style: none;
}

.button-sort {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
}

.sort-item-current .button-sort {
  color: #81b3d2;
}

a.button-sort:hover,
a.button-sort:focus {
  color: #81b3d2;
}

a.button-sort:active {
  color: #000000;
}

.sort-up {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
}

.sort-down {
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #81b3d2;
}

a.sort-up:hover,
a.sort-down:hover,
a.sort-up:focus,
a.sort-down:focus {
  color: #000000;
}

a.sort-up:active,
a.sort-down:active {
  color: #81b3d2;
}

a.hotel-title {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000000;
}

a.hotel-title:hover,
a.hotel-title:focus {
  color: #81b3d2;
}

a.hotel-title:active {
  color:  rgba(0, 0, 0, 0.3);
}

a.button-more {
  font-size: 14px;
  line-height: 21px;

  background-color: #81b3d2;
}

a.button-more:hover,
a.button-more:focus {
  background-color: #669ec0;
}

a.button-more:active {
  color: #87b6d1;
  background-color: #5496bd;
}

a.button-book {
  font-size: 14px;
  line-height: 21px;

  background-color: #766357;
}

a.button-book:hover,
a.button-book:focus {
  background-color: #604e43;
}

a.button-book:active {
  color: #847870;
  background-color: #503e33;
}

.hotels-list span {
  color: #81b3d2;
}

.rating-value {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #666666;

  background-color: #f2f2f2;

}

.main-footer {
  background-color: #ffffff;
}

.main-footer-tag {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.footer-social ul {
  list-style: none;
}

.footer-social a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #ffffff;
  vertical-align: middle;
  text-align: center;
  background-color: #81b3d2;
  border: none;
}

.footer-social a:hover,
.footer-social a:focus {
  background-color: #669ec0;
}

.footer-social a:active {
  color: #87b6d1;
  background-color: #5496bd;
}

.footer-copyright b {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
}

.footer-copyright a {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.footer-copyright a:hover,
.footer-copyright a:focus{
  color: #81b3d2;
}

.footer-copyright a:active {
  color: #bdbbbc;
}

